<?xml version="1.0"?>
<launch>

      <node pkg="carrobot" type="carrobot_node.py" name="carrobot" output="screen">
        <param name="tf_base_lidar" value="0.098, 0.0, 0.08"/>

        <param name="tf_base_prox_left" value="0.08, 0.05, 0.03"/>
        <param name="tf_base_prox_right" value="0.08, -0.05, 0.03"/>

        <param name="lidar_rpm_control" value="true"/>

        <param name="gpio_lidar_pwm" value="12"/>
        <param name="gpio_prox_left" value="19"/>
        <param name="gpio_prox_right" value="26"/>

      </node>

</launch>
